---
layout: page
title: Blog by Year
permalink: /blog/year/
years: [2024]
desc: |
  Welcome to my blog!
  Here, I write about plain-language summaries of research papers and other things that interest me.
  You see long list of my posts below, or you can <a href="/blog">browse as a long list</a> or <a href="/blog/tag">by tag</a>.
css: |
  :root {
    --grid-columns: 4;
  }
---
<div class="grid-container">
  {% for y in page.years %}
    <div class="grid-item">
      <a href="#{{y}}">{{ y }}</a>
    </div>
  {% endfor %}
</div>

{% for y in page.years %}
  <h2 id="{{y}}">{{ y }}</h2>
  {% for post in site.categories.blog %}
    {% capture post-date %}"{{ post.date | date: '%Y' }}"{% endcapture %}
    {% capture y-str %}"{{ y }}"{% endcapture %}
    {% if post-date == y-str %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endif %}
  {% endfor %}
{% endfor %}
