---
layout: default
permalink: /
thumb_force_logo: true
---

{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <h1>
      Sambit Panda
    </h1>

    <h2 class="sub-title">Biomedical Engineering Ph.D. Candidate</h2>

    <small>
      <a href="https://twitter.com/bitapanda">Twitter</a> &#x30FB;
      <a href="https://scholar.google.com/citations?user=-V3CmPoAAAAJ&hl=en">Google Scholar</a> &#x30FB;
      <a href="https://github.com/sampan501">GitHub</a> &#x30FB;
      <a href="https://www.linkedin.com/in/sampan501/">LinkedIn</a> &#x30FB;
      <a href="mailto:spanda3@jhu.edu">Email</a> &#x30FB;
      <a href="assets/pdf/cv.pdf">CV</a>
    </small>

  </header>

  <div class="page-content">

    <p>
      Welcome to my little corner of the internet!

      I'm a biomedical data scientist currently at <a href="https://neurodata.io/">NeuroData</a> and in the middle of a <a href="https://www.bme.jhu.edu/academics/graduate/phd-program/">Ph.D. at Johns Hopkins</a>.
      Most days, I spend developing new approaches to data analysis and applying those to interesting biomedical datasets.
      Here's a little bit more <a href="about">about me</a>.
    </p>

    <h2>Publications</h2>
    <p>
      Here are some of my favorite research articles that I have written.
      If you want to read more, here is the <a href="research">full publication list</a>.
    </p>
    {% for post in site.categories.research %}
      {% if post.tags contains "selected" %}
        {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
      {% endif %}
    {% endfor %}

    <h2>Software</h2>
    <p>
      I love solving difficult problems, often times developing software to help.
      Here are some of my favorite software that I've made.
      If you want to read more, here is the <a href="software">full list</a>.
    </p>
    {% for post in site.categories.software %}
      {% if post.tags contains "selected" %}
        {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
      {% endif %}
    {% endfor %}

  </div>
</article>
