//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:
.content {
  h2 { font-size: 225%; font-weight: bold; opacity: 1; }
  h3 { font-size: 140%; font-weight: bold;  opacity: 1; }
  h4, h5, h6 { font-size: 100%; font-weight: bold;  opacity: 1; }
}

// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
.content { a { color: var(--link-color); } }
.external span { background: var(--link-color); }

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

// EXAMPLE: amsf.github.io custom appearance
:root {
  --link-color-h: 199;
  --link-color-s: 100%;
  --link-color-l: 35%;
  --code-color-h: calc(var(--link-color-h) + 10);
  --code-color-s: calc(var(--link-color-s) * .2 + 40%);
}

.list {
  h1 {
    @media (max-width: $breakpoint-sm) {
      overflow-wrap: break-word;
    }
  }
}

.content {
  .sub-title {
    font-size: 108%;
    opacity: .8;
  }
}

small {
  display: block;
  margin-top: 1.5vmin;

  &:last-of-type {
    margin-bottom: 5vmin;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  
  ul {        
    display: flex;
    align-items: center;
  }
  
  li {
    display: flex;
  }

  .home {
    display: inline-block;

    a {
      padding: .5em var(--nav-item-space);

      &:hover,
      &:focus {
        color: var(--link-color);
        text-decoration: none;
      }
    }
  }

  @media (max-width: $breakpoint-xs) {
    display: block;
  }
}

.footer {
  text-align: center;
  text-transform: none;
}
