//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:
.content {
  h2 {
    font-size: 250%;
    font-weight: bold;
    opacity: 1;
  }
  h3 {
    font-size: 150%;
    font-weight: bold;
    opacity: 1;
  }
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: bold;
    opacity: 1;
  }
}

// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
.content {
  a {
    color: var(--link-color);
  }
}
.external span {
  background: var(--link-color);
}

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

// EXAMPLE: amsf.github.io custom appearance
:root {
  --link-color-h: 199;
  --link-color-s: 100%;
  --link-color-l: 35%;
  --code-color-h: calc(var(--link-color-h) + 10);
  --code-color-s: calc(var(--link-color-s) * 0.2 + 40%);
  --grid-columns: 3;
  --nav-item-space: 2em;
}

.list {
  .title {
    @media (max-width: $breakpoint-sm) {
      overflow-wrap: break-word;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    li::before {
      content: "";
    }

    small {
      display: block;
      margin-top: 1.2vmin;
      line-height: 1.5;
    }
  }
}

.content {
  margin-bottom: 6rem;

  .sub-title {
    font-size: 108%;
    opacity: 0.8;
  }
}

small {
  display: block;
  margin-top: 0.5em;

  &:last-of-type {
    margin-bottom: 2em;
  }
}

.navigation {
  --space-header: var(--space-lg);
  margin-bottom: 6rem;
  background: var(--text-color-3);
  @include padding-offset(var(--space-header));
  @include margin-offset(calc(var(--space-header) * -1));

  @media (max-width: $breakpoint-md) {
    --header-height: 52.5vh;
    --space-header: var(--space-md);
    // padding-top: 0;
    // padding-bottom: 0;
  }

  @media (max-width: $breakpoint-sm) {
    --space-header: var(--space-sm);
    margin-bottom: 3rem;
  }

  li {
    a {
      padding: 0.25em var(--nav-item-space) 0.25em 0em;
    }
  }
}

.footer {
  --space-header: var(--space-lg);
  background: var(--text-color-3);
  text-align: left;
  text-transform: none;
  padding: calc(2em + var(--nav-padding));
  @include padding-offset(var(--space-header));
  @include margin-offset(calc(var(--space-header) * -1));

  @media (max-width: $breakpoint-md) {
    --header-height: 52.5vh;
    --space-header: var(--space-md);
  }

  @media (max-width: $breakpoint-sm) {
    --space-header: var(--space-sm);
  }

  ul {
    li {
      a {
        color: var(--link-color);
        font-weight: bold;
        padding: 0.5em calc(var(--nav-item-space) / 2) 0.5em 0em;
      }
    }
  }
}

header {
  .profile-header {
    margin-bottom: 0rem;
  }

  .profile-title {
    display: inline-block;
    vertical-align: center;
    // max-width: 100%;
  }

  .profile-img {
    display: inline-block;
    max-width: 8em;
    height: auto;
    margin-left: 0;
    margin-right: 1em;
    margin-bottom: 0;
    border-radius: 50%;
  }
}

.grid-container {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  margin: 1.8rem 0;
  padding: 0;
  list-style: none;

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(calc(var(--grid-columns) - 1), 1fr);
  }
}

.grid-item {
  padding: 0.6em 0;
}

svg {
  /* Place the icon on the text baseline. */
  position: relative;
  top: 0.125em;

  /* Prevent the icon from shrinking inside a flex container. */
  flex-shrink: 0;

  /* Scale the icon to match the font-size. */
  height: 1em;
  width: 1em;

  /* Let the icon take whatever color the parent has. */
  fill: currentColor;

  /*
     * If the icon is used on a link, which has a color transition,
     * we can also transition the fill.
    */
  transition: fill 0.3s;
}
