<!-- Page-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article lang="{{ amsf_page_lang }}">

  <!-- Page title -->
  <header {{ amsf_page_heading_bg }}>

    <h1  id="page-title" class="{{ amsf_page_heading_class }}" title="{{ amsf_page_title | strip_html | xml_escape }}" data-title="{{ amsf_page_title | strip_html | xml_escape }}">
      {{ amsf_page_heading }}
    </h1>

  </header>

  <!-- Page content -->
  <div class="page-content">
    {% if page.desc %}
      <p>{{ page.desc }}</p>
    {% endif %}

    {{ content }}
  </div>

</article>
