<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article lang="{{ amsf_page_lang }}">

  <!-- Post title -->
  <header {{ amsf_page_heading_bg }}>

    <h1 id="page-title" class="{{ amsf_page_heading_class }}" title="{{ amsf_page_title | strip_html | xml_escape }}" data-title="{{ amsf_page_title | strip_html | xml_escape }}">
      {{ amsf_page_heading }}
    </h1>

  </header>

  <!-- Post content -->
  <div class="post-content">

    {% if page.date %}
      <small>
      <i>on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></i>
      </small>
    {% endif %}

    {{ content }}

    {% assign date_publish = page.date | date: "%b %-d, %Y" %}
    {% assign date_update  = page.last_modified_at | date: "%b %-d, %Y" %}

    {% if date_publish != date_update and site.dev == false and page.category != "research" %}
      <footer class="post-modified-date">
        <p>
          Updated
          <time datetime="{{ page.last_modified_at | date: " %FT%X+08:00 " }}">
            {{ page.last_modified_at | date: "%A, %b %d, %Y" }}
          </time>
        </p>
      </footer>
    {% endif %}
  </div>

</article>
