<!-- Footer section -->
{% unless page.permalink == '/' and site.data.curtana.clean_homepage %}
  <footer class="footer">
    <div class="links">
      <ul>
        {%- for item in site.data.footer -%}
          {%- include amsf/relative_url url=item.url -%}
          {%- assign item_url = amsf_relative_url -%}
          {%- assign lowercased_title = item.title | slugify -%}
          <li>
            <a href="{{ item_url }}">{{- item.title -}} {{- item.icon -}}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="copyright">
      © 2019 - {{ 'now' | date: "%Y" }} Sambit Panda
    </div>
  </footer>
{% endunless %}

<!-- Theme scripts -->
<script src="{{ '/js/app.js?assets-inline' | prepend: amsf_theme_assets }}"></script>

<!-- User scripts -->
<script src="{{ '/js/user.js?assets-inline' | prepend: amsf_user_assets }}"></script>

<!-- Lightense Images -->
{% if page.plugin == 'lightense' %}
  <script src="{{ '/js/lightense.min.js?assets-inline' | prepend: amsf_theme_assets }}"></script>
  <script>
    window.addEventListener('load', function () {
      Lightense('p > img:not(.no-lightense),.lightense');
    }, false);
  </script>
{% endif %}

<!-- Service Worker  -->
{{ amsf_service_worker }}

<!-- Google Analytics -->
{{ amsf_google_analytics }}

<!-- Foot hooks -->
{% if page.foot %}
  {{ page.foot }}
{% endif %}

<!-- Finale -->
</html>
