---
---
<div class="title">
  {% case entry.type %}
    {% when 'misc' %}
      <span class="emoji-title">&#128221;</span>
    {% when 'article' %}
      <span class="emoji-title">&#128196;</span>
    {% when 'thesis', 'phdthesis' %}
      <span class="emoji-title">&#127891;</span>
  {% endcase %}
  <a href="{% details_link key %}">{{ entry.title }}</a>
</div>

<small>
  {% assign authorCount = entry.author_array | size %} by
  {% for author in entry.author_array %}
    {% capture name %}{{ author.first }} {{ author.last }}{% endcapture %}
    {% if name contains site.data.authors.me.name %}
      {% capture name %}<strong>{{ name }}</strong>{% endcapture %}
    {% endif %}
    {% if authorCount == 1 %}
      {{ name }}
    {% else %}
      {% if forloop.last %} and {{ name }} {% else %} {{ name }}, {% endif %}
    {% endif %}
  {% endfor %}
  <div class="description">
    {% case entry.type %}
      {% when 'article' %}
        in <a href="http://doi.org/{{ entry.doi }}">{{ entry.journal }}</a>
      {% when 'misc' %}
        in <a href="http://doi.org/{{ entry.doi }}">{{ entry.publisher }}</a>
      {% when 'thesis', 'phdthesis' %}
        in <a href="{{ entry.url }}">{{ entry.school }}</a>
    {% endcase %}
    on {{ entry.month | date: '%B' }}, {{ entry.year }}
  </div>
</small>
