---
layout: default
usemathjax: true
---
<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article lang="{{ amsf_page_lang }}">
  <!-- Post title -->
  <header {{ amsf_page_heading_bg }}>
    <h1
      id="page-title"
      class="{{ amsf_page_heading_class }}"
      title="{{ page.entry.title | strip_html | xml_escape }}"
      data-title="{{ page.entry.title | strip_html | xml_escape }}"
    >
      {{ page.entry.title }}
    </h1>
  </header>

  <!-- Post content -->
  <div class="post-content">
    <small>
      <em>
        {% assign authorCount = page.entry.author_array | size %}
        {% assign hasStars = false %} by
        {% for author in page.entry.author_array %}
          {% capture name %}{{ author.first }} {{ author.last }}{% endcapture %}
          {% if name contains '*' %}
            {% assign hasStars = true %}
          {% endif %}
          {% if name contains site.data.authors.me.name %}
            {% capture name %}<strong
          >{{ name }}</strong
        >{% endcapture %}
          {% endif %}
          {% if authorCount == 1 %}
            {{ name }}
          {% else %}
            {% if forloop.last %}
              and {{ name }}
            {% else %}
              {{ name }},
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="description">
          in
          {% case page.entry.type %}
            {% when 'article' %}
              {{ page.entry.journal }}
            {% when 'misc' %}
              {{ page.entry.publisher }}
            {% when 'thesis', 'phdthesis' %}
              {{ page.entry.school }}
          {% endcase %}
          on {{ page.entry.month | date: '%B' }}, {{ page.entry.year }}
        </div>
        {% if hasStars %}
          <div class="contribution">*Equal Contribution</div>
        {% endif %}
      </em>
    </small>

    <div class="linksbib-div">
      <div class="largetype">
        <ul id="linksbib">
          {%- case page.entry.type -%}
            {%- when 'article' -%}
              <li><a href="http://doi.org/{{ page.entry.doi }}">Paper</a></li>
            {%- when 'misc' -%}
              <li>
                <a href="http://doi.org/{{ page.entry.doi }}">{{- page.entry.publisher -}}</a>
              </li>
            {%- when 'thesis', 'phdthesis' -%}
              <li><a href="{{ page.entry.url }}">Thesis</a></li>
          {%- endcase -%}
          {%- if page.entry.links -%}
            {%- assign link_value = page.entry.links | split: ', ' -%}
            {%- for link in link_value -%}
              {%- assign link_value = link | split: ': ' -%}
              <li>
                <a href="{{ link_value | slice: 1 }}">{{- link_value | slice: 0 -}}</a>
              </li>
            {%- endfor -%}
            <!--
              {% for link in link_value %}
                {% unless page.entry.type == 'other' and forloop.first %}

                {% endunless %}
                {% assign link_value = link | split: ': ' %}
                <a href="{{ link_value | slice: 1 }}">{{ link_value | slice: 0 }}</a>
              {% endfor %}
            -->
          {%- endif -%}
        </ul>
      </div>
    </div>

    {% if page.entry.abstract %}
      <h2>Abstract</h2>
    {% else %}
      <h2>Summary</h2>
    {% endif %}
    <p>{{ page.entry.abstract | markdownify }}</p>

    {% unless page.entry.type == 'other' %}
      <h2>Citation</h2>
      <pre>{{ page.entry.bibtex }}</pre>
    {% endunless %}
  </div>
</article>
